*.class
*.iml
*.log
.classpath
.project
logs/
target/
.idea/
node_modules
package-lock.json
*.ipr
*.iws
reader/isHealthy
**.idea/*
allocator/dependency-reduced-pom.xml
parquet-writer/dependency-reduced-pom.xml 
